<link rel="stylesheet" href="/css/style.css">
<section id="search" class="searchWrap">
    <h1> Search for your order here</h1>
    <form action="order/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term">
      <input type="submit" value="Search">
    </form>
</section>
